.content-container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


$midnight: #2c3e50;
$clouds: #ecf0f1;
// General
body {
color: #111;
padding: 0 1em 1em;
}

input {
position: absolute;
opacity: 0;
z-index: -1;
}
// Layout
.row {
display:flex;
.col {
  flex:1;
  &:last-child {
   /* margin-left: 1em; */
  }
}
}
/* Accordion styles */
.tabs {
overflow: hidden;
}
.tab {
width: 100%;
color: #808080;
overflow: hidden;
&-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
  &:hover {
    background: darken(#ffffff, 5%);
  }
  &::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
  }
}
&-content {
  max-height: 0;
  padding: 0 1em;
  transition: all .35s;
}
&-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: $midnight;
  cursor: pointer;
  &:hover {
    background: darken(#ffffff, 5%);
  }
}
}

// :checked
input:checked {
+ .tab-label {
  background: darken(#ffffff, 0%);
  &::after {
    transform: rotate(90deg);
  }
}
~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
}
